root = true

# Common settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = tab
insert_final_newline = true
max_line_length = 120
# Do not set tab_width, so the tab size can be set by the editor.
trim_trailing_whitespace = true

# Kotlin files
[{*.kts,*.kt}]
# IntelliJ specific settings
ij_smart_tabs = true
